body {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    font-family: wf_segoe-ui_normal,"Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5em;
    color: #505050;
}
h1 {
    margin: 0 0 12px;
    font-family: wf_segoe-ui_light,"Segoe UI Light","Segoe WP Light","Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2em;
    color: #505050;
}
h2 {
    margin: 0 0 12px;
    font-family: wf_segoe-ui_light,"Segoe UI Light","Segoe WP Light","Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2em;
    color: #505050;
}
h3 {
    margin: 0 0 12px;
    font-family: wf_segoe-ui_light,"Segoe UI Light","Segoe WP Light","Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.2em;
    color: #505050;
}
h4 {
    margin: 0 0 12px;
    font-family: wf_segoe-ui_normal,"Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2em;
    color: #505050;
}
.main-panel{
  margin-top: 20px;
  margin-left: 20px;
}
.category{
  color:#0072c6;
}
